<!DOCTYPE html>
<html>
<head>
  <title>Bookstore</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="nav-header">
  <div class="brand">
    <h3>  <%= link_to "Bookstore", root_path %></h3>
  </div>
  <div class="profile-nav" style="float: right">
    <%= @current_user.render_navigation_profile(self)  %>
  </div>
</div>

<%= yield %>

</body>
</html>
